.sunburst-chart {
  max-width: 250px;
  // TODO: add @media-breakpoint-up(sm)
  svg {
    font-size: 12px;
    font-family: "Open Sans";
    .sunburst-chart-label {
      user-select: none;
    }
    .sunburst-clickable {
      cursor: pointer;
    }
  }
}
