@import "gogo-theme";
@import "bootstrap/scss/bootstrap";
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";

.cursor-pointer {
  cursor: pointer;
}

.paragraph-highlight {
  background: #0eed0e36;
}
.sentence-highlight {
  background: #e2d2bb;
}
.word-highlight {
  color: blue;
  background: #f7f7f7;
  font-weight: bold;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
  &.gutter-horizontal {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
    cursor: ew-resize;
  }
}
