@use "gogo-theme";
@use "bootstrap/scss/bootstrap" with (
  $font-family-sans-serif: gogo-theme.$font-family-sans-serif,
  $theme-colors: gogo-theme.$theme-colors
);
@use "@fortawesome/fontawesome-free/scss/variables" with (
  $font-path: "@fortawesome/fontawesome-free/webfonts"
);
@use "@fortawesome/fontawesome-free/scss/fontawesome";
@use "@fortawesome/fontawesome-free/scss/regular";
@use "@fortawesome/fontawesome-free/scss/solid";

@use "datatables.net-dt";
@use "datatables.net-fixedcolumns-dt" as fixed_dt;

.cursor-pointer {
  cursor: pointer;
}

.gutter {
  // background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
  &.gutter-horizontal {
    position: relative;
    right: -10;
    background-image: url('data:image/svg+xml;charset=UTF-8,<?xml version="1.0" encoding="UTF-8"?><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="4" height="32" viewBox="0 0 6 32"><rect x="1" y="1" width="4" height="30" fill="rgb(227,234,241)" stroke="none" stroke-width="1" ry="2" rx="2"/></svg>');
    // background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
    cursor: ew-resize;
    z-index: 300;
  }
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.layout {
  overflow: hidden;
  // display: flex;
  // flex-direction: column;
  height: 100%;
  width: 100%;
}
