.coherence {
  display: flex;
  flex-direction: column;
}

.coherence-title {
  background: #f9f6f6;
  padding: 10px;
  flex: 0;
}

.coherence-description {
  padding: 4px;
  border-bottom: 1px solid #d1cfcf;
  font-family: sans-serif;
  line-height: 1.5;
}

.coherence-name {
  font-weight: bold;
  font-size: 1.2em;
}

.coherence-controls {
  display: flex;
  flex-direction: row;
  padding: 2px;
  background: #f9f6f6;
  height: 26px;
}

.coherence-content {
  padding: 6px;
  border-bottom: 1px solid #d1cfcf;
}

.coherence-item {
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
}

.coherence-children {
  list-style-type: lower-alpha;
}

.coherence-child {
  font-weight: normal;
  cursor: pointer;
}

.coherence-rule {
  padding: 6px;
}

.coherence-detail {
}
