
h1, h2, h3, h4, h5, h6 {
  color: #222222;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.4;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
  text-rendering: optimizeLegibility;
}

a {
  color: #1BBC9B;
  line-height: inherit;
  text-decoration: none;
}

.docuscope_scrim {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
  display: none;
}

.docuscope_button {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  border-style: solid;
  border-width: 0;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 1rem 2rem 1.0625rem 2rem;
  font-size: 1rem;
  background-color: #1BBC9B;
  border-color: #16967c;
  color: #FFFFFF;
  transition: background-color 300ms ease-out;    
}

.docuscope_button:hover {
  background-color: #16967c;
}

.select-option-group {
  position: relative;
  display: inline-block;
  border: 2px solid #bdc3c7;
  border-radius: 5px;
  background: #fff;
  padding: 0;
  margin: 10px 5px;
  min-width: 289px;
}

.selection {
  display: block;
  text-align: left;
  margin-left: 0;
  overflow: hidden;
  padding: 7px 10px;
  padding-right: 30px;
  font-weight: bold;
}

.selection:hover {
  color: black;
}

.filter-option-expand-indicator {
  margin-top: 8px;
  width: 0;
  height: 0;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-top: 4px solid rgba(0,0,0,0.3);
  position: absolute;
  right: 10px;
  top: 10px;
}

.col {
  min-width: 50%;
}

.mainframe {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 4px;
}

.menubar {
  flex: 0;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: #ededed;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 4px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.content {
  background: white;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.statusbar {
  flex: 0;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background-color: #ededed;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-family: Arial;
  font-size: 14px;
  /* font-weight: bold; */
  line-height: 20px;
  padding: 1px 2px 1px 2px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

.leftcol {
  flex: 1;
  width: 30%;
  border-right: 1px solid #bdbbbb;
  /*background: #fbf5f5;*/
  display: flex;
  flex-direction: column;
}

.centercol {
  flex: 1;
  width: 30%;
  display: flex;
  flex-direction: row;  
  border-right: 1px solid grey;
}

.rightcol {
  flex: 1;
  width: 30%;
}

.tabscontent {
  flex: 1;
}

.tabs-panel-override {
  padding: 0px !important;
}

.impressions {
  display: flex;
  flex-direction: column;
}
  
.impressions-title {
  background: #f9f6f6;
  padding: 10px;
  flex: 0;
}

.impressions-description {
  padding: 4px;
  border-bottom: 1px solid #d1cfcf;
  font-family: sans-serif;
  line-height: 1.5;
}

.impressions-name {
  font-weight: bold;
  font-size: 1.2em;
}

.impressions-statement {

}

.impressions-content {
  padding: 6px;
}

.impressions-item {
  font-weight: bold;
  font-size: 1.1em;
  cursor: pointer;
}

.impressions-children {
  list-style-type: lower-alpha;
}

.impressions-child {
  font-weight: normal;
  cursor: pointer;
}

.impressions-detail {

}

.context-icon {
  float: left;
  width: 38px;
  padding-right: 10px;
  padding-top: 7px;
}

.context-title {
  color: rgb(242,129,47);
}
