<html>
<head>
<script>

var simIndex=0;
var simStep=10;
var simTimer=-1;

/**
 * 
 */
function sendMessage (aMessage) {
  console.log ("sendMessage ()");

  window.parent.postMessage	({
      event_id: 'docuscope',
      data: {
      	status: "data",
        content: aMessage 
      }
    },"*");  
}

/**
 * 
 */
function sendProgress (aTitle,aPercentage) {
  //console.log ("sendProgress ()");

  window.parent.postMessage	({
      event_id: 'docuscope',
      data: {
      	title: aTitle,
      	status: "progress",
        content: aPercentage 
      }
    },"*");  
}

/**
 * 
 */
function sendProgressFinished () {
  //console.log ("sendProgressFinished ()");

  window.parent.postMessage	({
      event_id: 'docuscope',
      data: {
      	status: "finished"
      }
    },"*");  
}

/**
 * 
 */
function processMessage (aMessage) {
  console.log ("processMessage ()");

  // Just a quick check. You never know
  if (aMessage.event_id=="docuscope") {
    let data=aMessage.data;
    if (data.status=="text") {
      let rawText=data.content;
      
      console.log (rawText);
      
      sendProgress ("Docuscope Tagger Progress",simIndex);

      simulateProcessing ();      
    }
  }
}

/**
 * 
 */
function simulateProcessing () {
  simIndex=0;
  simTimer=setInterval (function () {
    simIndex+=simStep;
    if (simIndex>=100) {      
      clearInterval (simTimer);
      sendProgressFinished ();
    } else {
      sendProgress ("Docuscope Tagger Progress",simIndex);
    }
  },100);
}

/**
 * Register ourselves with the main react app
 */
function bootDocuscope () {
  console.log ("bootDocuscope ()");

  window.addEventListener("message", (event) => {
    processMessage (event.data);
  }, false);

  sendMessage ("bootDocuscope");
}

</script>
</head>
<body onload="bootDocuscope()">
Docuscope Classroom Content
</body>
</html>
