.tool-card {
  // min-width: 320px;
  // max-width: 80vw;
  .icon-lg {
    width: 48px;
    height: 48px;
  }

  nav {
    .nav-link {
      font-weight: 600;
    }
    // .active {
    //   font-weight: bolder;
    // }
    // .nav-link:hover {
    //   color: var(--bs-primary);
    //   font-weight: bold;
    // }
  }

  .tools {
    --prose-tool-radius: 0.75rem;
    border-radius: var(--prose-tool-radius);
    button {
      min-width: 64px;
      height: 64px;
      border: none; // overriding Bootstrap button styling
      border-left-style: solid;
      border-color: var(--bs-gray-400);

      &:first-child {
        border-left-style: none;
        border-top-left-radius: var(--prose-tool-radius);
        border-bottom-left-radius: var(--prose-tool-radius);
      }
      &:last-child {
        border-top-right-radius: var(--prose-tool-radius);
        border-bottom-right-radius: var(--prose-tool-radius);
      }

      &[disabled] {
        color: gray !important;
      }

      svg {
        width: 24px;
        height: 24px;
        margin-right: auto;
        margin-left: auto;
      }

      span {
        font-size: x-small;
        font-weight: 500;
      }
    }
  }

  ul.no-bullets {
    list-style: none;
    padding: 0;
    // margin: 0;
    ul {
      list-style: disc;
    }
  }

  .edits {
    del {
      color: var(--bs-red);
    }

    ins {
      color: var(--bs-indigo);
    }
  }
}
