// Custom bootstrap overrides
$font-family-sans-serif:
  "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
  "Noto Color Emoji" !default;

// CMU Primary
$cmu-core-red: #b00;
$cmu-core-red-dark: #830000;
$cmu-core-red-light: #f64b2d;
$cmu-core-black: #000; //#2D2926;
$cmu-core-grey: #e0e0e0;
$cmu-core-darkgrey: #666;
// CMU Secondary
$cmu-secondary-rose: #ef3340;
$cmu-secondary-gold: #a60;
$cmu-secondary-teal: #067;
$cmu-secondary-blue: #247;
$cmu-secondary-blue-dark: #001e4b;
$cmu-secondary-blue-light: #546fa6;
$cmu-secondary-green: #085;
$cmu-secondary-darkgreen: #243;
// CMU Campus
$cmu-machinery-hall-tan: #b7b09c;
$cmu-kittanning-brick-beige: #d1ccbd;
$cmu-hornbostel-teal: #0d5257;
$cmu-palladian-green: #789f90;
$cmu-weaver-blue: #002b49;
$cmu-skibo-red: #8a2b2b;

$theme-colors: (
  "primary": $cmu-core-red,
  "secondary": $cmu-secondary-blue,
  "success": $cmu-secondary-green,
  "info": $cmu-secondary-teal,
  "warning": $cmu-secondary-gold,
  "danger": $cmu-secondary-rose,
  "light": $cmu-core-grey,
  "dark": $cmu-core-darkgrey,
  "secondary-dark": $cmu-secondary-blue-dark,
);
