.editor-content {
  outline: none;
  white-space: normal;
  overflow-wrap: break-word;
  -webkit-user-modify: read-write-plaintext-only;
  overflow-y: auto;
  font-size: 12pt;
  margin-top: 2px;
  padding: 8px;
  height: 100%;
  min-height: 100px;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
}

.editor-pane {
  max-width: 6.5in;
}
.tools-pane {
  max-width: 50%;
}

.tab-content {
  overflow: hidden;
}
.tab-pane {
  overflow: hidden;
  max-height: 100%;
}
