$cmu-secondary-gold: #a60;

.editor-content {
  outline: none;
  white-space: normal;
  overflow-wrap: break-word;
  -webkit-user-modify: read-write-plaintext-only;
  overflow-y: auto;
  font-size: 12pt;
  margin-top: 2px;
  padding: 8px;
  height: 100%;
  min-height: 100px;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
}

.editor-pane {
  max-width: 6.5in; // preference expressed during DocuScope classroom development.
  min-width: 4in;
}
.tools-pane {
  max-width: 52rem; // based on legend size
  min-width: 390px;
  width: 390px;
}

.tab-content {
  overflow: hidden;
}
.tab-pane {
  overflow: hidden;
  max-height: 100%;
}

.tagged-text {
  .d_none {
    display: none;
  }
  .selected_text {
    background-color: rgba($cmu-secondary-gold, 0.3);
  }
}

.cluster-pane {
  max-width: 33hmax;
  min-width: 16rem;
  width: calc(100hmax - 6.5in - 390px);
}

/* MvV: we'll probably split this up into a separate component at some point */

.statusbar {
  display: flex;
  flex-direction: row;
  color: #fff;
  padding: 2px;
  margin: 0px;
}

.statusbar-status {
  flex: 1;
}

.statusbar-ruleversion {
  flex: 0;
  min-width: 250px;
  padding: 0px 2px 0px 2px;
}

.statusbar-language {
  flex: 0;
  min-width: 75px;
  padding: 0px 2px 0px 2px;
  text-align: right;
}

.ds-info {
  width: 150px;
  border: 1px solid red;
}