.writing-task-tree {
  [aria-expanded="true"] {
    .expanded {
      display: block;
    }
  }

  [aria-expanded="false"] {
    .expand-toggle {
      i {
        transform: rotate(-90deg);
      }
    }

    .expanded {
      display: none;
    }
  }

  .pointer {
    cursor: pointer;
  }
}
