.organization {
  .fake-btn {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    vertical-align: middle;
    user-select: none;
    width: 34px;
    display: inline-block;
  }

  .dtfc-top-blocker {
    background-color: transparent !important;
  }

  table {
    caption-side: top;
    thead tr button {
      width: 34px;
    }
    tbody td button.btn-icon {
      padding: 0 !important;
    }
  }
}
