@use "sass:meta";

.review {
  --highlight-1-bg: #e4ff92;
  --highlight-1-text: black;

  .select-button {
    div {
      width: 275px;
      min-height: 32px;
      display: inline-block;
    }
  }

  .select-button:hover {
    outline-style: inset;
  }

  h6 {
    font-weight: 600 !important;
    margin-bottom: 0 !important;
  }

  nav {
    .nav-item {
      font-weight: 600;
    }
  }

  .tab-content {
    overflow: hidden;
  }

  span.highlight-1 {
    text-decoration: underline;
  }

  .highlight {
    background-color: var(--bs-highlight);

    &.highlight-1 {
      background-color: var(--highlight-1-bg);
      color: var(--highlight-1-text);
      li,
      span {
        text-decoration: underline;
      }
    }
  }

  .accordion-header-highlight {
    --bs-accordion-active-bg: var(--bs-highlight);
  }

  .inverse-color {
    --bs-nav-underline-link-active-color: var(--bs-primary);
    --bs-nav-link-color: var(--bs-black);
    --bs-nav-link-padding-y: 0;
  }

  @include meta.load-css("../ToolButton/ToolButton.module");
}
