.review {
  .select-button {
    div {
      width: 275px;
      min-height: 32px;
      display: inline-block;
    }
  }

  .select-button:hover {
    outline-style: inset;
  }

  h6 {
    font-weight: 600 !important;
    margin-bottom: 0 !important;
  }
}
