@use "sass:meta";

.review {
  // --highlight-1-bg: #e4ff92;
  --highlight-1-border: #00682c;

  @mixin underline_highlight($color: var(--highlight-1-border)) {
    text-decoration: underline;
    text-decoration-color: $color;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
  }

  .select-button {
    div {
      width: 275px;
      min-height: 32px;
      display: inline-block;
    }
  }

  .select-button:hover {
    outline-style: inset;
  }

  h6 {
    font-weight: 600 !important;
    margin-bottom: 0 !important;
  }

  .tab-content {
    overflow: hidden;
    flex-grow: 1;
  }

  .additional-tools-menu {
    max-height: 75vh;
    overflow: auto;
  }

  .md-icon {
    width: 2rem;
    height: 2rem;
  }

  span.highlight-1 {
    // needed for user text
    @include underline_highlight();
  }

  .highlight {
    &.highlight-0 {
      // used for user text and tools
      background-color: var(--bs-highlight);
    }

    &.highlight-1 {
      // used for tools

      li,
      span {
        @include underline_highlight();
      }
    }
  }

  .accordion-header-highlight {
    --bs-accordion-active-bg: var(--bs-highlight);
  }
  div.accordion-item:has(.show) {
    border: 4px solid var(--bs-info-border-subtle);
  }

  .inverse-color {
    --bs-nav-underline-link-active-color: var(--bs-primary);
    --bs-nav-link-color: var(--bs-black);
    --bs-nav-link-padding-y: 0;
  }

  @include meta.load-css("../ToolButton/ToolButton.module");
}
