$noun-phrase: #5c36af;
$action-verb: #b10008;
$be-verb: #4296f5;

.topic-text-icon {
  color: $noun-phrase;
}

.topic-text {
  color: $noun-phrase;
  font-weight: bold;
}

.active-verb-icon {
  color: $action-verb;
}

.active-verb {
  color: $action-verb;
  text-decoration: underline;
  font-weight: bold;
  text-underline-offset: 1.2pt;
  // text-decoration-thickness: 11%;
}

.be-verb-icon {
  color: $be-verb;
}

.be-verb {
  color: $be-verb;
  text-decoration: dotted underline;
  font-weight: bold;
  text-underline-offset: 1.2pt;
  text-decoration-thickness: 12%;
}

.sentences {
  .sentence-display {
    height: 8em;
  }
  table.sentence-data {
    border-spacing: 0px !important;
    counter-reset: paragraph;
    margin-bottom: 1rem;

    .paragraph-count {
      background-color: var(--bs-gray-200);
      column-span: all;
      padding-left: 0.25rem;

      &::after {
        counter-increment: paragraph;
        content: "¶ " counter(paragraph) " ";
      }
    }

    tr.table-active {
      background-color: rgba(var(--bs-emphasis-color-rgb), 0.1);
    }

    tr.selectable:hover {
      background-color: rgba(var(--bs-emphasis-color-rgb), 0.075);
      cursor: pointer;
    }

    td {
      padding: 0 !important;

      &.text-center {
        width: 20px;
      }
    }

    // .table-active {

    // }
  }
}
