.minh-0 {
  min-height: 0;
}

.slide-container {
  transition: transform 0.3s ease-in-out;

  &.start {
    transform: translateX(-100%); // out of view to the left
  }

  &.end {
    top: 0;
    transform: translateX(100%); // out of view to the right
  }

  &.active {
    /* Show the active container */
    transform: translateX(0);
  }
}
