.writing-task-tree {
  [aria-expanded="true"] {
    .expanded {
      display: block;

      ul {
        list-style-type: none;
        text-wrap: nowrap;
        margin-bottom: 0 !important;
      }
    }
  }

  [aria-expanded="false"] {
    .expand-toggle {
      i {
        transform: rotate(-90deg);
      }
    }

    .expanded {
      display: none;
    }

    &:has(li[aria-selected="true"]) {
      .outline-section {
        border-bottom: 3px solid var(--bs-primary);
      }
    }
  }

  [aria-selected="true"] {
    .active {
      color: var(--bs-white);
      background-color: var(--bs-primary) !important;
    }
  }

  .btn-none:hover {
    background-color: var(--bs-secondary-bg);
  }
  // .pointer {
  //   cursor: pointer;

  //   &:hover {
  //     background-color: var(--bs-secondary-bg);
  //   }
  // }
}
