[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pathlib = "*"
python-docx = "*"
beautifulsoup4 = "*"
spacy = "*"
reportlab = "*"
unidecode = "*"
fastapi = "*"
hypercorn = "*"
regex = "*"

[dev-packages]
pylint = "*"
pycodestyle = "*"

[requires]
python_version = "3.13"
