[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pathlib = "*"
python-docx = "*"
beautifulsoup4 = "*"
spacy = "*"
reportlab = "*"
unidecode = "*"
fastapi = "*"
hypercorn = "*"
regex = "*"
mammoth = "*"

[dev-packages]
pylint = "*"
pycodestyle = "*"

[requires]
python_version = "3.13"

[scripts]
start = "hypercorn -b 0.0.0.0:5000 --reload  --root-path / app:app"
spacy-download = "python -m spacy download en_core_web_sm"
lint-app = "pylint app.py"
lint-document = "pylint dslib/models/document.py"
