[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psutil = "*"
pathlib = "*"
python-docx = "*"
nltk = "*"
beautifulsoup4 = "*"
ftfy = "*"
spacy = "*"
reportlab = "*"
pydocx = "*"
unidecode = "*"
pyqt5 = "*"
fastapi = "*"
hypercorn = "*"

[dev-packages]

[requires]
python_version = "3.12"
