.coherence-table {
  padding: 0px;
  margin: 0px;
}

.coherence-table tr {
  padding: 0px;
  margin: 0px;
}

.coherence-table tr td {
  padding: 0px;
  margin: 0px;
}

.coherence-list {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.coherence-item {
  flex: 1;
  border: 1px solid #e9e4e4;
  border-radius: 5px;
  padding: 0px 5px 0px 5px;
  margin: 1px;
  cursor: pointer;
}

.paragraph-row {
  display: flex;
  flex-direction: row;
}

.paragraph-toggle {
  border: 1px solid gray;
  border-radius: 2px;
  width: 24px;
  /*height: 24px;*/
  /* flex: 0; */
  margin: 2px;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
}

.paragraph-toggle:hover {
  background-color: #e2d2bb;
}

.paragraph-toggled {
  background-color: #e2d2bb;
  border: 1px solid gray;
  border-radius: 2px;
  width: 24px;
  /*height: 24px;*/
  /* flex: 0; */
  margin: 2px;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
}

.paragraph-toggled:hover {
  background-color: #f7f794;
}

.paragraph-padding {
  flex: 1;
}

.topic-separator {
  /* height: 10px; */
  background-color: rgba(0, 0, 0, 0.03);
  padding: 3px;
}

.topic-container {
  display: flex;
  flex-direction: row;
}

.topic-type-default {
  /*background-color: #f7f794;*/
  /*border: 1px solid gray;*/
  border-radius: 2px;
  width: 24px;
  height: 24px;
  margin: 2px;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
}

.topic-icon-large {
  width: 24px;
  height: 24px;
}

.topic-icon-small {
  width: 12px;
  height: 12px;
}
