@use "sass:meta";

.user-text {
  span.sentence {
    // fix for #117 - sentence spacing
    padding-inline-end: 0.5em;
  }

  .highlight {
    span[data-topic] {
      color: var(--bs-blue);
      font-weight: bold;
    }
  }

  .paragraph-highlight {
    background-color: var(--bs-highlight);
    span[data-topic] {
      text-decoration: underline dotted;
      &.word-highlight {
        text-decoration: underline;
      }
    }
  }

  .word-highlight {
    color: var(--bs-blue);
    // background: #f7f7f7;
    font-weight: bolder;
  }

  // if there are any no-blur elements, then blur the other elements. #176
  &:has(.no-blur) {
    .no-blur {
      color: var(--bs-text);
    }
    > :not(.no-blur) {
      // #201 use color instead of blur.
      color: var(--bs-tertiary-color);
    }
  }

  @include meta.load-css("./myprose_styles");
}
