@use "sass:meta";

.user-text {
  color: #303030; // TODO use bs var for theme switching.

  span.sentence {
    // fix for #117 - sentence spacing
    padding-inline-end: 0.5em;
  }

  // .highlight { // Remove to fix #199
  //   span[data-topic] {
  //     color: var(--bs-blue);
  //     font-weight: bold;
  //   }
  // }

  .paragraph-highlight {
    background-color: var(--bs-highlight);
    span[data-topic] {
      text-decoration: underline dotted;
      &.word-highlight {
        text-decoration: underline;
      }
    }
  }

  .word-highlight {
    color: var(--bs-blue);
    font-weight: bolder;
  }

  // if there are any no-blur elements, then blur the other elements. #176
  &:has(.no-blur) {
    > :not(.no-blur) {
      // #201 use color instead of blur.
      color: var(--bs-tertiary-color);
    }
  }

  @include meta.load-css("./myprose_styles");
}
