.user-text {
  span.sentence {
    // fix for #117 - sentence spacing
    padding-inline-end: 0.5em;
  }

  .highlight {
    span[data-topic] {
      color: var(--bs-blue);
      font-weight: bold;
    }
  }

  .paragraph-highlight {
    background-color: var(--bs-highlight);
    span[data-topic] {
      text-decoration: underline dotted;
      &.word-highlight {
        text-decoration: underline;
      }
    }
  }

  .word-highlight {
    color: var(--bs-blue);
    // background: #f7f7f7;
    font-weight: bolder;
  }
}
