.assess-rating {
  .rating-0 {
    color: #d12026;
  }
  .rating-1 {
    color: #f58020;
  }
  .rating-2 {
    color: #eabd21;
  }
  .rating-3 {
    color: #a1cd3a;
  }
  .rating-4 {
    color: #00a76b;
  }
  .rating-5 {
    color: #00a76b;
  }
}
